<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

		<!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Bootswatch -->
    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css">
    
		<link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css"/>
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One" rel="stylesheet">

		<title>Eat Da Burger!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
